/*    
    This is the "global" [[bmlt_quicksearch]] CSS file.
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class

    \version 3.9.3
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
div#bmlt_page_items.bmlt_page_items div.quicksearch_div
{
    text-align:center;
    display:table;
    padding: 0.5em;
    border-radius:0.5em;
    border:none;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_throbber_div
{
    width: 100%;
    height:100%;
    vertical-align:middle;
    text-align:center;
}

/* This style needs to be stronger because the native BMLT style is unfortunately strong. */
div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_throbber_div img
{
    display:block;
    width:60px;
    height:60px;
    border:none;
    border-radius: 50%;
    margin:auto;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_weekdays_container,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_select_container,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_text_container
{
    margin: auto;
    margin-top:0.25em;
    margin-bottom: 0.25em;
    text-align: left;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_weekdays_container
{
    display:table;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div input.quicksearch_form_submit_button,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div select.quicksearch_form_town_select,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_text_container input,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_text_container input:focus
{
    border:none;
    box-shadow:none;
    outline:none;
    border-radius:0.25em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div select.quicksearch_form_town_select
{
    width: 100%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_text_container input
{
    width: 32em;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    display:block;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div input.quicksearch_form_submit_button
{
    margin-top:0.25em;
    border:none;
    border-radius:0.5em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_form_weekday_container
{
    float:left;
    width: 4em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div
{
    border-radius:0.36em;
    border: none;
    margin-top: 0.5em;
    padding: 0.5em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.bmlt_quicksearch_sinlge_meeting_container
{
    padding: 0.25em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li
{
    list-style-type: none;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul
{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li
{
    float: left;
    margin: 0;
    padding: 0;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li .first_span
{
    display:block;
    padding-left: 0.25em;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_weekday span.first_span,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_comments span.first_span,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats span.first_span
{
    padding-left: 0;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_weekday
{
    width: 10%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_time
{
    width: 8%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town
{
    width: 10%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_name
{
    width: 20%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_address
{
    width: 42%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats
{
    width: 10%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_comments
{
    clear:left;
    width: 100%;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats span.bmlt_quicksearch_format_span
{
    float:right;
    font-size:smaller;
    width:2em;
    height:2em;
    line-height:2em;
    padding: 0.125em;
    border-radius: 50%;
    text-align: center;
    vertical-align:middle;
    display:table;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town span.bmlt_quicksearch_town_comma_span,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town span.bmlt_quicksearch_state_span,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town span.bmlt_quicksearch_zip_span,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town span.bmlt_quicksearch_zip_space_span
{
    display: none;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div input.quicksearch_form_submit_button
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    display: table;
    width: 10em;
}

@media only print
{
    div#bmlt_page_items.bmlt_page_items div.quicksearch_throbber_div,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_form_container
    {
        display:none !important;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_print_header
    {
        display: block !important;
        background-color: black;
        color: white;
        text-align:center;
        font-size: xx-large;
        font-weight: bold;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div div.bmlt_quicksearch_sinlge_meeting_container
    {
        padding: 0;
        margin: 0;
        width: 100%;
        border:none;
        border-radius: 0;
        background-color: transparent;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_form_container
    {
        background-color: black;
        padding: 1em;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div div.bmlt_quicksearch_sinlge_meeting_container
    {
        margin-top: 0.25em;
        padding-bottom: 0.25em;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul li
    {
        page-break-inside: avoid;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul li,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul li a,
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul li a:visited
    {
        color: black;
        text-decoration: none;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div div.bmlt_quicksearch_even
    {
        background-color: #efefef;
    }

    div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_weekday
    {
        width: 35%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_time
    {
        width: 10%;
        text-align:center;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town
    {
        text-align: right;
        width: 55%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_name
    {
        clear:left;
        width: 100%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_address
    {
        clear:left;
        width: 100%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats
    {
        clear:left;
        width: 100%;
        text-align: center;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats div.bmlt_quicksearch_formats_internal_div
    {
        display: table;
        margin: auto;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats div.bmlt_quicksearch_formats_internal_div span.bmlt_quicksearch_format_span
    {
        float:none;
        display:table-cell;
        color: white;
        line-height: 100%;
        vertical-align: middle;
        background-color: black;
    }
}