/*    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class

    \version 3.9.3
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/

@media only screen and (max-width: 820px)
{
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_weekday
    {
        width: 35%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_time
    {
        width: 10%;
        text-align:center;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_town
    {
        text-align: right;
        width: 55%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_name
    {
        clear:left;
        width: 100%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_address
    {
        clear:left;
        width: 100%;
    }

    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats
    {
        clear:left;
        width: 100%;
        text-align: center;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats div.bmlt_quicksearch_formats_internal_div
    {
        display: table;
        margin: auto;
    }
    
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats span.bmlt_quicksearch_format_span
    {
        float:none;
        display:table-cell;
    }
}

@media only screen and (max-width: 700px)
{
    div.bmlt_table_display_div .bmlt_table_header_weekday_list li.bmlt_table_header_weekday_list_element
    {
        border-top:none;
        border-radius: 0em;
        -moz-border-radius: 0em;
        -webkit-border-radius: 0em;
        list-style-type:none;
        list-style-position:outside;
    }
       
    div.bmlt_table_display_div div.bmlt_table_div
    {
        width: 100%;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_header_ul
    {
        width: 100%;
        font-size:1em;
        margin:0;
        padding:0;
        border:none;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li,
    div.bmlt_table_display_div ul.bmlt_table_data_ul li,
    div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li
    {
        width: 100%;
        clear:both;
        float:none;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li
    {
        padding: 0.25em;
    }

    div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_formats div.bmlt_formats_div span
    {
        clear:none;
        float:left;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_time span
    {
        text-align: left;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_data_ul li.bmlt_table_data_ul_li_ul_li_comments span
    {
        padding-left: 0;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li.bmlt_table_header_li_format
    {
        display:none;
    }
}

@media only screen and (max-width: 639px)
{
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_location_button_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_find_nearby_meetings_today_button_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_find_nearby_meetings_tomorrow_button_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div div.bmlt_nouveau_search_results_div a.bmlt_nouveau_search_results_map_disclosure_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div div.bmlt_nouveau_search_results_div a.bmlt_nouveau_search_results_list_disclosure_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_switch_a
    {
        font-size: x-small;
    }
    
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_location_button_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_find_nearby_meetings_today_button_a,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div a.bmlt_nouveau_find_nearby_meetings_tomorrow_button_a
    {
        width: 90%;
    }
    
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div div.bmlt_nouveau_search_spec_div,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div table.bmlt_nouveau_search_results_list_table,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tbody.bmlt_nouveau_search_results_list_tbody,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tr.bmlt_nouveau_search_results_list_body_tr,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tr.bmlt_nouveau_search_results_list_body_tr td
    {
        display: block;
        border: none;
    }
    
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tr.bmlt_nouveau_search_results_list_body_tr
    {
        clear:both;
    }
    
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tr.bmlt_nouveau_search_results_list_body_tr td.bmlt_nouveau_search_results_list_body_td_more a
    {
        float:right;
    }
    
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_div div.bmlt_nouveau_search_spec_div.bmlt_nouveau_spec_hidden,
    div#bmlt_page_items.bmlt_page_items div.bmlt_nouveau_search_results_div tr.bmlt_nouveau_search_results_list_header_tr
    {
        display: none;
    }
}

@media only screen and (max-width: 410px)
{
    div#bmlt_page_items.bmlt_page_items div.quicksearch_div div.quicksearch_search_results_div ul.bmlt_quicksearch_data_ul li
    {
        font-size: x-small;
    }
}

@media only screen and (max-width: 320px)
{
    div.bmlt_table_display_div ul.bmlt_table_header_weekday_list
    {
        font-size:0.5em;
    }
    
    div.bmlt_table_display_div ul.bmlt_table_header_ul li.bmlt_table_header_li
    {
        font-size:smaller;
        line-height:1.5em;
        height:1.5em;
    }
}
