/*    

    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class

    \version 3.9.3
    
    This file is part of the BMLT Common Satellite Base Class Project. The project GitHub
    page is available here: https://github.com/MAGSHARE/BMLT-Common-CMS-Plugin-Class
    
    This file is part of the Basic Meeting List Toolbox (BMLT).
    
    Find out more at: http://bmlt.magshare.org
    
    BMLT is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    BMLT is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this code.  If not, see <http://www.gnu.org/licenses/>.
*/
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed
{
    background-color:#006;
    color: white;
    border: 1px solid #f30;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div
{
    border: 1px solid #f30;
    background-color:white;
    color: #006;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div a,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div a:visited,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed input.quicksearch_form_submit_button
{
    color:#03f;
    text-decoration:underline;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed input.quicksearch_form_submit_button,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed select.quicksearch_form_town_select,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_form_text_container input,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_form_text_container input:focus
{
    border: 1px solid #f30;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div a:hover,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div a:active,
div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed input.quicksearch_form_submit_button:hover
{
    color:#f30;
    text-decoration:none;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed div.quicksearch_search_results_div div.bmlt_quicksearch_even
{
    background-color: #efefff;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_formats span.bmlt_quicksearch_format_span
{
    background-color: #006;
    color: white;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed ul.bmlt_quicksearch_data_ul li.bmlt_quicksearch_data_ul_li_comments
{
    font-style:italic;
}

div#bmlt_page_items.bmlt_page_items div.quicksearch_div.quicksearch_theme_BlueAndRed input.quicksearch_form_submit_button
{
    background-color: #f30;
}
